.ca{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width:300px;
    box-shadow: 0 2px 8px rgpa(0,0,0,0.1);
    text-align: center;
    color:white;
}
.ca img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
  }
  
  .ca h3 {
    margin: 8px 0;
  
  }
  
  .ca p {
    margin: 4px 0;
  }

  .cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .amount-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .amount-toggle button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .amount-style {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    min-width: 30px;
    
  }
  